@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

.header{
    img{
        width: 100%;
    height: 100px;
    }
}
 li{
    list-style: none;
}
//导航
.nav{
     background: #333333;
.nav1{
    margin: 0 auto;
    width: 1200px;
    background: #333333;
    height: 50px;
.tou{
    height: 50px;
float: left;
    li{
        float: left;
        color: #b0b0b0;
        line-height: 50px;
        margin-left: 10px;
        font-size:14px;
    }

}
    li:hover{
        color: #ffffff;
        
    }


.tou1{
        height: 50px;
        float: right;
    li{
        color: #b0b0b0;
        line-height: 50px;
        margin-right: 10px;
        font-size: 14px;  
        float: right;
        img{
            height: 50px;
        } 
    }
}
    li:hover{
        color: #ffffff;
    }
.tou:after{
    display: block;
    clear: both;
    content: '';
    li{
          display: block;
    clear: both;
    content: '';  
    }
}
.tou1:after{
    display: block;
    clear: both;
    content: '';
    li{
          display: block;
    clear: both;
    content: '';  
    }
}
}
}


.keng-de{
    display: none;
    position: absolute;
    z-index: 1;
}

//导航
.subnav{
    width: 1200px;
        margin: 0 auto;
.subnav2{
    height: 70px;
    float: left;
    li{
        float: left;
        margin-left: 20px;
        line-height: 70px;
       
        input{
            height: 40px;
        }
        button{
            height: 44px;
            width: 44px;
            background: #ffffff;
        }
    }
    li:nth-child(1){
        img{
            margin-top: 10px;   
            height: 50px;
        }
    }
    li:nth-child(2){
        margin-left: 70px;
        img{
             margin-top: 10px;   
            height: 50px;
         }
    }
    li:nth-child(3){
        margin-left: 70px;
    }
    
}




.subnav3{
    float: right;
    height: 70px;
    li{
            float: right;
          line-height: 70px;
        input{
            height: 40px;
        }
        button{
            width: 44px;
            height: 44px;
            background: #FFFFFF;
        }
    }
}
.subnav2:after{
    display: block;
    clear: both;
    content: '';
     li{
          display: block;
    clear: both;
    content: '';  
    }   
}
.subnav3:after{
    display: block;
    clear: both;
    content: '';
         li{
          display: block;
    clear: both;
    content: '';  
    } 
}
}
//轮播
#side{
    margin: 0 auto;
    width: 1200px;

.sideBar{
    position:absolute;
    width: 236px;
                height: 460px;
    li{
        height: 46px;
        width: 236px;
        line-height: 46px;
        color: #FFFFFF;
        width: 236px;
        background: #0d0e10;
        display: flex;
        justify-content: space-between;
        a{
            margin-left: 34px;
        }
        span{
       
        }
    }
}
        .lunboli{
            height: 170px;
            position: absolute;
            margin-left: 236px;
            display: none;
        }
li:hover{
    background: orange;
}
.cont{
        margin-left:auto;
    width: 965px;
    height: 460px;
     overflow: hidden;
     
      ul{
            width: 3000px;
            height:350px;
        }
    img{
            margin-left:auto;
        width: 965px;
        height: 460px;
    }
    
}
}

.tutu{
    width: 1200px;
    margin: auto;
    height: 170px;
    display: flex;
    margin-top: 20px;
    div{
      height: 170px;  
    }
    div:nth-child(1){
        width: 236px;
        background: #5f5750;
        ul{
            width: 236px;
            height: 85px;
            display: flex;
            li{
         
                width: 77px;
                height: 84px;
                text-align: center;
                border: 1px solid #665e57;
                color: #cdcac8;
                img{
                    margin-top: 10px;
                }
            }
        }

    }
    div:nth-child(2){
        width: 306px;
        margin-left: 16px;
        img{
            width: 306px;
            height: 170px;
        }
    }
    div:nth-child(3){
        width: 306px;
                margin-left: 16px;
        img{
            width: 306px;
            height: 170px;
        }
    }
    div:nth-child(4){
                margin-left: 16px;
        width: 306px;
        img{
            width: 306px;
            height: 170px;
        }
    }
}


#xiaomi{
    margin: 0 auto;
    width: 1200px;
    height: 50px;
    margin-top: 20px;
    line-height: 50px;
    li{
     width: 1200px;
     font-size: 20px;
    }
    
}
.xiaomikeng{
    width: 1200px;
    height: 340px;
    margin: 0 auto;
    li{
        float: left;
            height: 340px;
        width: 230px;
        background:#fafafa ;
        text-align: center;

        img{
            width: 100px;
            margin-top: 60px;
        }
        h4{
            margin-top: 50px;
        }
        p{
            color: #b0b0b0;
            margin-top: 14px;
        }
        div{
          margin-right: 10px;
          margin-top: 22px;
          color: orange;
        }
    }
    li:nth-child(1){
        border-top:2px solid #ffac13;
    }
    li:nth-child(2){
        margin-left: 12px;  
        border-top:2px solid #83c44e;
    }
    li:nth-child(3){
        margin-left: 12px;  
        border-top:2px solid #2196f3;
    }
    li:nth-child(4){
        margin-left: 12px;
        border-top:2px solid #e53935;
    }
    li:nth-child(5){
        margin-left: 12px;  
        border-top:2px solid #00c0a5;
    }
}
.xiaomikeng:after{
      display: block;
    clear: both;
    content: '';  
}






.zhong{
    margin: 0 auto;
    height: 5000px;
    background: #f5f5f5;
    margin-top: 20px;
    .tibiao{
    width: 1200px;
     height: 60px;
     margin: 0 auto;
     line-height: 60px;
     display: flex;
             justify-content: space-between;
             li{
                 line-height: 60px;
             }
    li:nth-child(2){
        float: right;
        a{
            color: red;
        }
        span{
            margin-right: 10px;
        }
    }

}
.zhong1{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    height: 614px;
    li{
        float: left;
    }

    li:nth-child(1){

        width: 240px;
        img{
            width: 240px;
        }
    }
    li:nth-child(2){
        width: 960px;
        ul{
            width: 960px;
            li{
                  background: #FFFFFF;
                  float: left;
                width: 230px;
                height: 310px;
                margin-left: 8px;
                img{
                    width: 150px;
                    margin-top: 46px;
                }
                h4{
                    margin-top: 46px;
                }
                p{
                    margin-top: 10px;
                    color: #b0b0b0;
                }
                span{
                    margin-top: 20px;
                    color:orange;
                    
                }
            }
            li:hover{
        margin-top: -2px;
               box-shadow: 0px 5px 5px #999999; 
    }
        }
        .zhongaa{
            width: 960px;
            li{
                margin-top: 8px;
                  background: #FFFFFF;
                  float: left;
                width: 230px;
                height: 310px;
                margin-left: 8px;
                img{
                    width: 150px;
                    margin-top: 46px;
                }
                h4{
                    margin-top: 46px;
                }
                p{
                    margin-top: 10px;
                    color: #b0b0b0;
                }
                span{
                    margin-top: 20px;
                    color:orange;
                    
                }
            }
                        li:hover{
        margin-top: -2px;
               box-shadow: 0px 5px 5px #999999; 
    }
            
        }

      
        
    }
    
}
.zhong1:after{
      display: block;
    clear: both;
    content: '';
    ul:after{
            display: block;
    clear: both;
    content: '';  
    }  
}



.zhongfeng{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    li{
        margin-top: 10px;
        float: left;
        width: 230px;
      margin-left: 8px;
                    height: 310px;
                    img{
                        width: 120px;
                   
                }
                h4{
                    margin-top: 46px;
                }
                p{
                    margin-top: 10px;
                    color: #b0b0b0;
                }
                span{
                    margin-top: 20px;
                    color: orange;
                }
    }
    li:nth-child(1){
                img{
                  height: 310px;
            width: 230px;
        }
    }
        li:nth-child(2){
                   background: #FFFFFF;
                img{
      margin-top: 46px;

        }
    }

    li:nth-child(3){
               background: #FFFFFF;
                img{
      margin-top: 46px;

        }
    }

    li:nth-child(4){
               background: #FFFFFF;
                img{
      margin-top: 46px;

        }
    }

    li:nth-child(5){
               background: #FFFFFF;
                img{
            margin-top: 46px; 
  
        }
    }
}
.zhong3{
    width: 1200px;
            margin: 0 auto;
    li{
        background: #FFFFFF;
        float: left;
        width: 290px;
            height: 420px;
            img{
                height: 220px;
                width: 290px;
            }
            p{
                margin-top: 30px;
                margin-left: 20px;
                width: 250px;
            }
            div{
                margin-top: 30px;
                    color: #b0b0b0;
            }
            span{

                margin-top: 20px;
            }
            
    }
     li:nth-child(2){
        margin-left: 10px;    
    }
     li:nth-child(3){
        margin-left: 10px;    
    }
     li:nth-child(4){
        margin-left: 10px;    
    }
     li:nth-child(5){
        margin-left: 10px;    
    } 
}
.zhong4{
    width: 1200px;
            margin: 0 auto;
    li{
        background: #FFFFFF;
        float: left;
        width: 300px;
            img{
                margin-top: 20px;
            }
            p{
                margin-top: 30px;
            }
            div{
                margin-top: 40px;
            }
            span{
                margin-top: 10px;
            }
            
            
    }
} 
.tre {
  background: white;
  margin-top: 60px; }

.map {
  width: 1200px;
  margin: auto;
  height: 70px;
  border-bottom: 1px solid #C0C0C0; }
  .map li {
    width: 239px;
    height: 20px;
    float: left;
    border-right: 1px solid #C0C0C0;
    text-align: center;
    margin-top: 25px; }

#lestq {
  border: none; }

.zhk {
  width: 1200px;
  height: 150px;
  background: white;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px; }

.uol {
  width: 960px;
  height: 130px;
  float: left; }
  .uol li {
    float: left;
    margin-right: 100px; }
  .uol .bold {
    color: #000000;
    font-size: 1.5px;
    line-height: 30px; }
  .uol p {
    width: 60px;
    color: #666;
    font-size: 1.3px;
    line-height: 25px; }

.uol:after {
  display: block;
  clear: both;
  content: ""; }

.rigy {
  float: left;
  width: 235px;
  height: 130px;
  border-left: 1px solid #C0C0C0;
  text-align: center; }
  .rigy p {
    color: orange;
    font-size: 18px; }
  .rigy span {
    font-size: 14px;
    color: #666; }
  .rigy div {
    width: 120px;
    height: 30px;
    border: 1px solid orange;
    color: orange;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    margin: 15px auto; }

.cao {
  width: 1200px;
  height: 56px;
  margin: auto; }

.img_9 {
  width: 56px;
  height: 56px;
  float: left; }
  .img_9 img {
    width: 56px;
    height: 56px; }

.zjok {
  width: 770px;
  height: 56px;
  float: left;
  margin-left: 10px;
  font-size: 13px;
  color: #B0B0B0; }
  .zjok a {
    color: #757575; }

.zuih {
  width: 350px;
  height: 56px;
  float: right; }
  .zuih li {
    width: 78px;
    height: 56px;
    float: left;
    margin-left: 7px; }

.p_zu {
  font-size: 16px;
  color: #CCCCCC;
  line-height: 60px;
  text-align: center; }
   
}

